opencage_key = 'XXX'
trello_key   = 'DDD'
trello_secret= 'DDDD'

# export TRELLO_API_KEY=81df0f06ce599252023e53e17618aa66
# export TRELLO_API_SECRET=2215044cec312843332fc2fc74ac655aa7933a5b8ccea3f9117165c6240a2617
# python ./trello/util.py
# then fill out these two
trello_oauth_token        = 'DDDD'
trello_oauth_token_secret = 'FFFF'
